<div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
    <div class="card-img">
        <img src="{{destinos.imagenUrl}}" alt="">
        <span><h4>{{position}}</h4></span>
    </div>
    <div class = "card-desc">
        <h3>{{destinos.nombre}}</h3>
        <p>Serivicios</p>
        <div>
            <a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item">
                <i class="material-icons md-18">thumb_up</i>
            </a>
            &nbsp;
            <a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item">
                <i class="material-icons md-18">thumb_down</i>
            </a>
            &nbsp;
            Votos: {{destinos.votes}}
        </div>
        <ul>
            <li *ngFor="let s of destinos.servicios">
                <span [ngSwitch]="s">
                    <i *ngSwitchCase ="'desayuno'" style="color:red;">{{s}} </i>
                    <i *ngSwitchDefault>{{s}}</i>
                </span>
            </li>
        </ul>
        < <a href="#" class="btn-card" (click)="ir()" appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item">IR!</a>
        <span *ngIf="destinos.isSelected()">
            <span ngNonBindable>{{Preferido}}</span>
        </span>
        <a [routerLink]="['/destino', destinos.id]">Ver!</a>
    </div>
</div>