<form
    [formGroup]="fg"
    (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">  
    <div class="form-group ">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control"	id="nombre" placeholder="Ingresar nombre..."
         formControlName='nombre'>
         <ul>
    		<li *ngFor="let r of searchResults;">{{r}}</li>
		 </ul>
         <div *ngIf="fg.controls['nombre'].hasError('invalidNomber')">Nombre Invalido!</div>
         <div *ngIf="fg.controls['nombre'].hasError('required')">Nombre Requerido!</div>
         <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')">Nombre debe de tener al menos {{minLongitud}} de largo!</div>
    </div>
    <div class="form-group ">
        <label for="imagen url">Imagen Url</label>
        <input type="text" class="form-control" id="imagenurl" placeholder="Ingrese url..." 
        formControlName='url'>
    </div>
    <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary" *ngIf = "fg.valid">Enviar</button>
    </div>
</form>	