<div class="container content"> 
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formlogin"></span>
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h2 class="section-heading h1 pt-4">Tarjeta</h2>
                </div>
                <div class="card-body">
                    <app-form-destino-viaje (onItemAdded)="agregado($event)"></app-form-destino-viaje>          		
                </div>
          </div>
        </div>
    </div>
    <br class="mb-5">
    <div class="row row-flex">
        <app-destino-viaje 
            *ngFor="let d of destinosApiClient.getAll(); let i=index"
            [destinos]="d"
            [idx]= "i+1"
            (onClicked) = "elegido(d)"
            appEspiame
            ></app-destino-viaje>
    </div>
    <hr class= "mg-5">
    <div class="row row-flex">
        <h5>Actividad</h5>
        <ul>
            <li *ngFor="let u of updates;">{{u}}!</li>
        </ul>
    </div>
</div>